{% extends 'layout.html' %}
{% block body %}

<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
  <div id="__nuxt"><!---->
    <div id="__layout">
      <section data-v-4f6ccf7a="" class="position-relative p-3 p-md-4 min-vh-100 d-flex flex-column onboarding">
        <a data-v-15dee0a4="" data-v-4f6ccf7a="" type="button" href="/"
          class="btn btn-base d-flex align-items-center justify-content-center position-absolute"><span
            data-v-15dee0a4="" class="d-flex align-items-center fw-600"><span data-v-15dee0a4=""
              class="arrow-back mr-2 mr-md-3"><svg data-v-15dee0a4="" width="10" height="12" viewBox="0 0 10 12"
                fill="none" xmlns="http://www.w3.org/2000/svg" class="back-icon">
                <path data-v-15dee0a4=""
                  d="M0.433053 5.43305C0.119937 5.74617 0.119937 6.25383 0.433053 6.56695L5.53557 11.6695C5.84869 11.9826 6.35635 11.9826 6.66947 11.6695C6.98258 11.3564 6.98258 10.8487 6.66947 10.5356L2.13389 6L6.66947 1.46443C6.98258 1.15131 6.98258 0.643649 6.66947 0.330533C6.35635 0.017417 5.84869 0.017417 5.53557 0.330533L0.433053 5.43305ZM10 5.19822L1 5.19822V6.80178L10 6.80178V5.19822Z"
                  fill="#475467"></path>
              </svg></span>
            Go Back
          </span></a>
        <div data-v-4dd4a49c="" data-v-4f6ccf7a="" style="height: 39px;"></div>
        <div data-v-4f6ccf7a="" class="logo-container mx-auto w-fit"><img data-v-4f6ccf7a=""
            src="https://mycovergenius.com/img/logos/mycovergenius.svg" alt="mycovergenius logo" class="img-fluid"></div>
        <div data-v-4f6ccf7a="" class="w-100 flex-grow-1 d-flex flex-column max-limit mx-auto"
          style="min-height: 100%;">
          <div data-v-26e13a9e="" data-v-e6b90e96="" data-v-4f6ccf7a="" class="flex-grow-1 mx-auto"
            style="max-width: 668px;">
            <div data-v-4dd4a49c="" data-v-26e13a9e="" style="height: 52px;"></div>
            <div data-v-26e13a9e="" class="text-center">
              <h3 data-v-26e13a9e="" class="m-0 text-blue text-xs-20 text-md-28 fw-700 text-capitalize">
                Comprehensive Auto
              </h3>
              <p data-v-26e13a9e="" class="m-0 fw-500 text-xs-14 text-md-16 text-gray-500 mt-1">Protect
                yourself and your vehicles from all kinds of damages at <span style="color: #4FBFA3">5%</span></p>
            </div>
            <div data-v-4dd4a49c="" data-v-26e13a9e="" style="height: 32.5px;"></div> <!----> <!---->
            <div data-v-26e13a9e="" class="benefits-list">
              <p data-v-26e13a9e="" class="m-0 text-xs-14 text-md-16 text-gray-700 fw-600 mb-1">
                Benefits
              </p>
              <div data-v-26e13a9e="" class="d-flex align-items-center mt-3">
                <div data-v-26e13a9e="" class="correct-icon d-flex justify-content-center align-items-center mr-3"><img
                    data-v-26e13a9e="" src="https://mycovergenius.com//icons/check-1.svg" alt="" class="img-fluid"></div>
                <p data-v-26e13a9e="" class="m-0 text-gray-500 text-xs-14 text-md-16">Coverage against
                  Vehicle Theft</p>
              </div>
              <div data-v-26e13a9e="" class="d-flex align-items-center mt-3">
                <div data-v-26e13a9e="" class="correct-icon d-flex justify-content-center align-items-center mr-3"><img
                    data-v-26e13a9e="" src="https://mycovergenius.com//icons/check-1.svg" alt="" class="img-fluid"></div>
                <p data-v-26e13a9e="" class="m-0 text-gray-500 text-xs-14 text-md-16">Excess buyback -
                  You get full claims payment without any deductions</p>
              </div>
              <div data-v-26e13a9e="" class="d-flex align-items-center mt-3">
                <div data-v-26e13a9e="" class="correct-icon d-flex justify-content-center align-items-center mr-3"><img
                    data-v-26e13a9e="" src="https://mycovergenius.com//icons/check-1.svg" alt="" class="img-fluid"></div>
                <p data-v-26e13a9e="" class="m-0 text-gray-500 text-xs-14 text-md-16">Compensation for
                  Fire damages to your vehicle</p>
              </div>
              <div data-v-26e13a9e="" class="d-flex align-items-center mt-3">
                <div data-v-26e13a9e="" class="correct-icon d-flex justify-content-center align-items-center mr-3"><img
                    data-v-26e13a9e="" src="https://mycovergenius.com//icons/check-1.svg" alt="" class="img-fluid"></div>
                <p data-v-26e13a9e="" class="m-0 text-gray-500 text-xs-14 text-md-16">Protection against
                  Loss of personal effects (up to <span style="font-weight: 600">₦20,000</span> limit)
                </p>
              </div>
              <div data-v-26e13a9e="" class="d-flex align-items-center mt-3">
                <div data-v-26e13a9e="" class="correct-icon d-flex justify-content-center align-items-center mr-3"><img
                    data-v-26e13a9e="" src="https://mycovergenius.com//icons/check-1.svg" alt="" class="img-fluid"></div>
                <p data-v-26e13a9e="" class="m-0 text-gray-500 text-xs-14 text-md-16">Free tracking
                  device for vehicles of <span style="font-weight: 600">₦4,000,000</span> and above
                </p>
              </div>
              <div data-v-26e13a9e="" class="d-flex align-items-center mt-3">
                <div data-v-26e13a9e="" class="correct-icon d-flex justify-content-center align-items-center mr-3"><img
                    data-v-26e13a9e="" src="https://mycovergenius.com//icons/check-1.svg" alt="" class="img-fluid"></div>
                <p data-v-26e13a9e="" class="m-0 text-gray-500 text-xs-14 text-md-16">Compensation
                  during Floods, storms, and tempests</p>
              </div>
              <div data-v-26e13a9e="" class="d-flex align-items-center mt-3">
                <div data-v-26e13a9e="" class="correct-icon d-flex justify-content-center align-items-center mr-3"><img
                    data-v-26e13a9e="" src="https://mycovergenius.com//icons/check-1.svg" alt="" class="img-fluid"></div>
                <p data-v-26e13a9e="" class="m-0 text-gray-500 text-xs-14 text-md-16">Towing (up to
                  <span style="font-weight: 600">₦20,000</span> limit)
                </p>
              </div> <button data-v-26e13a9e="" type="button"
                class="m-0 ml-4 btn pl-0 fw-500 cursor-pointer text-green text-xs-14 mt-2">
                Learn More
              </button> <!----> <!---->
            </div>
            <div data-v-26e13a9e="" class="my-5"><button data-v-26e13a9e=""
                class="btn btn-primary w-100 rounded-8 py-0 px-0"><a data-v-26e13a9e=""
                  href="#get_covered"
                  class="text-white d-block py-3"><!---->
                  Get Covered
                </a></button></div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- <script>window.__NUXT__ = { config: { businessUrl: "https://business.mycovergenius.com", IntercomKey: "q17r14tg", _app: { basePath: "/", assetsPath: "/_nuxt/", cdnURL: null } } }</script> -->
  <!-- <script src="https://mycovergenius.com//_nuxt/9366248.js"></script>
  <script src="https://mycovergenius.com//_nuxt/7f9af0b.js"></script>
  <script src="https://mycovergenius.com//_nuxt/ce6672c.js"></script>
  <script src="https://mycovergenius.com//_nuxt/879eebc.js"></script> -->
  <!-- <div id="zhOYjXNlA" role="status" aria-live="polite" aria-atomic="false"></div>

  <div id="omnisend-dynamic-container" style="overflow: hidden; height: 0px;">
    <div id="omnisend-pixel-container"></div>
    <div id="omnisend-jsonp-container">
      <script
        src="https://mycovergenius.com/https://forms.soundestlink.com/REST/inShop/v1/getSettings?callback=_omnisend.setSettings&amp;responseType=jsonp&amp;shopHostname=mycovergenius.com&amp;shopType=api&amp;brandID=647f141bf1f70f68e9de1239"></script>
    </div>
  </div>
  <iframe id="intercom-frame"
    style="position: absolute !important; opacity: 0 !important; width: 1px !important; height: 1px !important; top: 0 !important; left: 0 !important; border: none !important; display: block !important; z-index: -1 !important; pointer-events: none;"
    aria-hidden="true" tabindex="-1" title="Intercom"></iframe>
  <div class="intercom-lightweight-app">
    <style id="intercom-lightweight-app-style" type="text/css">
      @keyframes intercom-lightweight-app-launcher {
        from {
          opacity: 0;
          transform: scale(0.5);
        }

        to {
          opacity: 1;
          transform: scale(1);
        }
      }

      @keyframes intercom-lightweight-app-gradient {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      @keyframes intercom-lightweight-app-messenger {
        0% {
          opacity: 0;
          transform: scale(0);
        }

        40% {
          opacity: 1;
        }

        100% {
          transform: scale(1);
        }
      }

      .intercom-lightweight-app {
        position: fixed;
        z-index: 2147483001;
        width: 0;
        height: 0;
        font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
      }

      .intercom-lightweight-app-gradient {
        position: fixed;
        z-index: 2147483002;
        width: 500px;
        height: 500px;
        bottom: 0;
        right: 0;
        pointer-events: none;
        background: radial-gradient(ellipse at bottom right,
            rgba(29, 39, 54, 0.16) 0%,
            rgba(29, 39, 54, 0) 72%);
        animation: intercom-lightweight-app-gradient 200ms ease-out;
      }

      .intercom-lightweight-app-launcher {
        position: fixed;
        z-index: 2147483003;
        padding: 0 !important;
        margin: 0 !important;
        border: none;
        bottom: 20px;
        right: 20px;
        max-width: 48px;
        width: 48px;
        max-height: 48px;
        height: 48px;
        border-radius: 50%;
        background: #0aa89a;
        cursor: pointer;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
        transition: transform 167ms cubic-bezier(0.33, 0.00, 0.00, 1.00);
        box-sizing: content-box;
      }


      .intercom-lightweight-app-launcher:hover {
        transition: transform 250ms cubic-bezier(0.33, 0.00, 0.00, 1.00);
        transform: scale(1.1)
      }

      .intercom-lightweight-app-launcher:active {
        transform: scale(0.85);
        transition: transform 134ms cubic-bezier(0.45, 0, 0.2, 1);
      }


      .intercom-lightweight-app-launcher:focus {
        outline: none;


      }

      .intercom-lightweight-app-launcher-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        transition: transform 100ms linear, opacity 80ms linear;
      }

      .intercom-lightweight-app-launcher-icon-open {

        opacity: 1;
        transform: rotate(0deg) scale(1);

      }

      .intercom-lightweight-app-launcher-icon-open svg {
        width: 24px;
        height: 24px;
      }

      .intercom-lightweight-app-launcher-icon-open svg path {
        fill: rgb(255, 255, 255);
      }

      .intercom-lightweight-app-launcher-icon-self-serve {

        opacity: 1;
        transform: rotate(0deg) scale(1);

      }

      .intercom-lightweight-app-launcher-icon-self-serve svg {
        height: 44px;
      }

      .intercom-lightweight-app-launcher-icon-self-serve svg path {
        fill: rgb(255, 255, 255);
      }

      .intercom-lightweight-app-launcher-custom-icon-open {
        max-height: 24px;
        max-width: 24px;


        opacity: 1;
        transform: rotate(0deg) scale(1);

      }

      .intercom-lightweight-app-launcher-icon-minimize {

        opacity: 0;
        transform: rotate(-60deg) scale(0);

      }

      .intercom-lightweight-app-launcher-icon-minimize svg path {
        fill: rgb(255, 255, 255);
      }

      .intercom-lightweight-app-messenger {
        position: fixed;
        z-index: 2147483003;
        overflow: hidden;
        background-color: white;
        animation: intercom-lightweight-app-messenger 250ms cubic-bezier(0, 1, 1, 1);
        transform-origin: bottom right;


        width: 400px;
        height: calc(100% - 40px);
        max-height: 704px;
        min-height: 250px;
        right: 20px;
        bottom: 20px;
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);


        border-radius: 16px;
      }

      .intercom-lightweight-app-messenger-header {
        height: 64px;
        border-bottom: none;
        background: #0aa89a
      }

      .intercom-lightweight-app-messenger-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: #fff;
        font-size: 14px;
        line-height: 21px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);

      }

      @media print {
        .intercom-lightweight-app {
          display: none;
        }
      }
    </style>
  </div> -->
</body>
{% endblock %}