{% extends 'layout.html' %}
{% block body %}

<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <div id="__nuxt"><!---->
        <div id="__layout">
            <div data-v-496b222f="" class="d-flex h-100 limit-container">
                <div data-v-496b222f=""
                    class="col-md-4 md-700 col-lg-4 col-sm-5 d-block px-md-4 px-lg-5 position-relative overflow-hidden"
                    style="min-height: 100vh; background-color: rgb(59, 170, 144);">
                    <div data-v-496b222f="" class="h-100 text-white pt-5">
                        <div data-v-496b222f="" class="logo-container py-4 mb-5"><img data-v-496b222f=""
                                src="https://mycovergenius.com/img/logos/mycover-logo-white.svg" alt="mycover logo" class="img-fluid"></div>
                        <p data-v-496b222f="" class="col-lg-10 mt-5 pl-0 text-md-28 text-lg-30 fw-600">
                            Get ready to enjoy insurance that truly covers you
                        </p>
                        <div data-v-496b222f="" style="height: 50px;"></div>
                        <ul data-v-496b222f="" class="steps list-container position-relative">
                            <li data-v-496b222f="" class="list-item step-item d-flex align-items-center active">
                                <div data-v-496b222f="" class="flex-grow-0 step-circle mr-3">
                                    1
                                </div> <span data-v-496b222f="" class="circle-text text-capitalize">personal
                                    details</span>
                            </li>
                            <li data-v-496b222f="" class="list-item step-item d-flex align-items-center">
                                <div data-v-496b222f="" class="flex-grow-0 step-circle mr-3">
                                    2
                                </div> <span data-v-496b222f="" class="circle-text text-capitalize">plan details</span>
                            </li>
                            <li data-v-496b222f="" class="list-item step-item d-flex align-items-center">
                                <div data-v-496b222f="" class="flex-grow-0 step-circle mr-3">
                                    3
                                </div> <span data-v-496b222f="" class="circle-text text-capitalize">get covered</span>
                            </li>
                        </ul>
                        <div data-v-496b222f="" class="cap-lines-decor"><img data-v-496b222f=""
                                src="/img/auth/svg/cap-lines.svg" alt="cap lines"></div>
                    </div>
                </div>
                <div data-v-496b222f="" class="w-100 mx-0 d-flex flex-column px-0" style="min-height: 100%;">
                    <section data-v-2ea73912="" data-v-496b222f=""
                        class="px-md-4 px-lg-5 py-4 py-md-5 position-relative d-flex flex-column justify-content-center container">
                        <a href="/" data-v-15dee0a4="" data-v-2ea73912="" type="button"
                            class="btn btn-base d-flex align-items-center justify-content-center"><span
                                data-v-15dee0a4="" class="d-flex align-items-center fw-600"><span data-v-15dee0a4=""
                                    class="arrow-back mr-2 mr-md-3"><svg data-v-15dee0a4="" width="10" height="12"
                                        viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"
                                        class="back-icon">
                                        <path data-v-15dee0a4=""
                                            d="M0.433053 5.43305C0.119937 5.74617 0.119937 6.25383 0.433053 6.56695L5.53557 11.6695C5.84869 11.9826 6.35635 11.9826 6.66947 11.6695C6.98258 11.3564 6.98258 10.8487 6.66947 10.5356L2.13389 6L6.66947 1.46443C6.98258 1.15131 6.98258 0.643649 6.66947 0.330533C6.35635 0.017417 5.84869 0.017417 5.53557 0.330533L0.433053 5.43305ZM10 5.19822L1 5.19822V6.80178L10 6.80178V5.19822Z"
                                            fill="#475467"></path>
                                    </svg></span>
                                Go Back
                            </span></a>
                        <div data-v-4dd4a49c="" data-v-2ea73912="" style="height: 26px;"></div>
                        <div data-v-1b369d7a="" data-v-2ea73912="">
                            <div data-v-1b369d7a="" class="header text-center mb-3">
                                <h2 class="text-blue text-xs-20 text-md-30 fw-700 font-weight-bold text-capitalize">
                                    Welcome To MyCoverGenius! 😊</h2>
                                <p class="fw-300 text-xs-14 fw-500 text-md-16 text-gray-500 mx-auto"
                                    style="max-width: 404px;">
                                    We’d like to meet you
                                </p>
                            </div> <span data-v-1b369d7a="">
                                <form method="post" action="/signup" data-v-e0192510="">
                                    <div data-v-1b369d7a="" class="px-2 px-md-4 mt-5 mx-auto" style="max-width: 564px;">
                                        <span data-v-1b369d7a="">
                                            <fieldset data-v-1b369d7a="" class="form-group custom-label text-xs-14"
                                                id="__BVID__21">
                                                <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                                    id="__BVID__21__BV_label_">First Name</legend>
                                                <div><input data-v-1b369d7a="" name="first_name" type="text"
                                                        placeholder="Enter your first name" required="required"
                                                        aria-required="true" class="custom-input form-control"
                                                        aria-describedby="first-name-live-feedback">
                                                    <div data-v-1b369d7a="" id="first-name-live-feedback"
                                                        class="invalid-feedback">
                                                    </div><!----><!----><!---->
                                                </div>
                                            </fieldset>
                                        </span> <span data-v-1b369d7a="">
                                            <fieldset data-v-1b369d7a="" class="form-group custom-label text-xs-14"
                                                id="__BVID__24">
                                                <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                                    id="__BVID__24__BV_label_">Last Name</legend>
                                                <div><input data-v-1b369d7a="" name="last_name" type="text"
                                                        placeholder="Enter your last name" required="required"
                                                        aria-required="true" class="custom-input form-control"
                                                        aria-describedby="last-name-live-feedback">
                                                    <div data-v-1b369d7a="" id="last-name-live-feedback"
                                                        class="invalid-feedback">
                                                    </div><!----><!----><!---->
                                                </div>
                                            </fieldset>
                                        </span> <span data-v-1b369d7a="">
                                            <fieldset data-v-1b369d7a="" class="form-group custom-label text-xs-14"
                                                id="__BVID__27">
                                                <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                                    id="__BVID__27__BV_label_">Email Address</legend>
                                                <div><input data-v-1b369d7a="" name="email" type="email"
                                                        placeholder="Enter your email address" required="required"
                                                        aria-required="true" class="custom-input form-control"
                                                        aria-describedby="email-live-feedback">
                                                    <div data-v-1b369d7a="" id="email-live-feedback"
                                                        class="invalid-feedback">
                                                    </div><!----><!----><!---->
                                                </div>
                                            </fieldset>
                                        </span> <span data-v-1b369d7a="">
                                            <fieldset data-v-1b369d7a="" class="form-group custom-label text-xs-14"
                                                id="__BVID__30">
                                                <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                                    id="__BVID__30__BV_label_">Phone Number</legend>
                                                <div><input data-v-1b369d7a="" name="phone" type="tel"
                                                        placeholder="Enter your phone number" required="required"
                                                        aria-required="true" class="custom-input form-control"
                                                        aria-describedby="phone-live-feedback">
                                                    <div data-v-1b369d7a="" id="phone-live-feedback"
                                                        class="invalid-feedback">
                                                    </div><!----><!----><!---->
                                                </div>
                                            </fieldset>
                                        </span>
                                        <fieldset data-v-1b369d7a="" class="form-group custom-label text-xs-14"
                                            id="__BVID__32">
                                            <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                                id="__BVID__32__BV_label_">Referral code</legend>
                                            <div><input data-v-1b369d7a="" name="referral" type="text"
                                                    placeholder="Enter referral code"
                                                    class="custom-input form-control"><!----><!----><!----></div>
                                        </fieldset>
                                        <div data-v-1b369d7a="" class="mt-5 mb-2"><button data-v-1b369d7a=""
                                                type="submit" class="btn btn-primary w-100">
                                                Continue
                                            </button></div>
                                        <div data-v-1b369d7a="" class="mt-4 text-center text-muted small">
                                            Already have an account?
                                            <a data-v-1b369d7a="" href="/login" class=""><span data-v-1b369d7a=""
                                                    class="text-green">Sign in</span></a>
                                        </div>
                                    </div>
                                </form>
                            </span>
                        </div>
                        <div data-v-e0192510="" data-v-2ea73912="" style="display: none;">
                            <div data-v-4dd4a49c="" data-v-e0192510="" style="height: 32.5px;"></div>
                            <div data-v-e0192510="" class="header text-center mb-3">
                                <h2 class="text-blue text-xs-20 text-md-30 fw-700 font-weight-bold text-capitalize">
                                    Almost in. Create password</h2>
                                <p class="fw-300 text-xs-14 fw-500 text-md-16 text-gray-500 mx-auto"
                                    style="max-width: 404px;">
                                    Choose a strong password for your eyes only.
                                </p>
                            </div>
                            <div data-v-4dd4a49c="" data-v-e0192510="" style="height: 32.5px;"></div> <span
                                data-v-e0192510="">
                                <form method="post" action="/signup" data-v-e0192510="">
                                    <div data-v-e0192510="" class="mt-5 mx-auto" style="max-width: 564px;"><span
                                            data-v-e0192510="">
                                            <fieldset data-v-e0192510="" class="form-group custom-label"
                                                id="__BVID__41">
                                                <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                                    id="__BVID__41__BV_label_">Password</legend>
                                                <div>
                                                    <div data-v-e0192510="" role="group" class="input-group d-flex">
                                                        <!----><input data-v-e0192510="" id="password" type="password"
                                                            placeholder="Choose a strong password for your eyes only."
                                                            required="required" aria-required="true"
                                                            class="formal-input password custom-input form-control"
                                                            aria-describedby="password-live-feedback"
                                                            style="width: 100px !important;">
                                                        <div data-v-e0192510=""
                                                            class="d-flex align-items-center pr-2 opacity-50 input-group-append">
                                                            <div data-v-e0192510=""><img data-v-e0192510=""
                                                                    src="/images/business/icons/eye-slash.svg" alt=""
                                                                    class="img-fluid"
                                                                    style="opacity: 0.6; display: none;"> <img
                                                                    data-v-e0192510=""
                                                                    src="/images/business/icons/eye-slash.svg" alt=""
                                                                    class="img-fluid" style="opacity: 0.6;"></div>
                                                        </div>
                                                        <div data-v-e0192510="" id="password-live-feedback"
                                                            class="invalid-feedback">
                                                        </div><!---->
                                                    </div><!----><!----><!---->
                                                </div>
                                            </fieldset>
                                        </span>
                                        <div data-v-e0192510="" class="pt-4 pb-3 d-flex flex-wrap">
                                            <div data-v-e0192510=""
                                                class="d-flex mb-2 align-items-center justify-content-md-center col-md-6">
                                                <div data-v-e0192510="" class="mr-1"><img data-v-e0192510=""
                                                        src="/images/business/icons/badge-gray.svg" alt=""
                                                        class="img-fluid" style="min-width: 13px;"> <img
                                                        data-v-e0192510="" src="/images/business/icons/badge.svg" alt=""
                                                        class="img-fluid mt-n1" style="min-width: 13px; display: none;">
                                                </div>
                                                <div data-v-e0192510="" class="text-xs-14"
                                                    style="min-width: 120px; width: max-content; color: rgb(152, 162, 179);">
                                                    8 characters long
                                                </div>
                                            </div>
                                            <div data-v-e0192510=""
                                                class="d-flex mb-2 align-items-center justify-content-md-center col-md-6">
                                                <div data-v-e0192510="" class="mr-1"><img data-v-e0192510=""
                                                        src="/images/business/icons/badge-gray.svg" alt=""
                                                        class="img-fluid" style="min-width: 13px;"> <img
                                                        data-v-e0192510="" src="/images/business/icons/badge.svg" alt=""
                                                        class="img-fluid mt-n1" style="min-width: 13px; display: none;">
                                                </div>
                                                <div data-v-e0192510="" class="text-xs-14"
                                                    style="min-width: 120px; width: max-content; color: rgb(152, 162, 179);">
                                                    One lower case
                                                </div>
                                            </div>
                                            <div data-v-e0192510=""
                                                class="d-flex mb-2 align-items-center justify-content-md-center col-md-6">
                                                <div data-v-e0192510="" class="mr-1"><img data-v-e0192510=""
                                                        src="/images/business/icons/badge-gray.svg" alt=""
                                                        class="img-fluid" style="min-width: 13px;"> <img
                                                        data-v-e0192510="" src="/images/business/icons/badge.svg" alt=""
                                                        class="img-fluid mt-n1" style="min-width: 13px; display: none;">
                                                </div>
                                                <div data-v-e0192510="" class="text-xs-14"
                                                    style="min-width: 120px; width: max-content; color: rgb(152, 162, 179);">
                                                    One upper case
                                                </div>
                                            </div>
                                            <div data-v-e0192510=""
                                                class="d-flex mb-2 align-items-center justify-content-md-center col-md-6">
                                                <div data-v-e0192510="" class="mr-1"><img data-v-e0192510=""
                                                        src="/images/business/icons/badge-gray.svg" alt=""
                                                        class="img-fluid" style="min-width: 13px;"> <img
                                                        data-v-e0192510="" src="/images/business/icons/badge.svg" alt=""
                                                        class="img-fluid mt-n1" style="min-width: 13px; display: none;">
                                                </div>
                                                <div data-v-e0192510="" class="text-xs-14"
                                                    style="min-width: 120px; width: max-content; color: rgb(152, 162, 179);">
                                                    A number and special character
                                                </div>
                                            </div>
                                        </div> <label data-v-e0192510="" for="marketing-consent"
                                            class="d-flex align-items-center mw-450 mx-auto" style="gap: 1rem;"><input
                                                data-v-e0192510="" id="marketing-consent" type="checkbox"> <span
                                                data-v-e0192510="" style="font-size: 0.8em;">
                                                Yes, sign me up for
                                                <span data-v-e0192510="" class="text-green" style="font-weight: 500;">
                                                    MycoverGenius's
                                                </span>
                                                newsletter &amp; Marketing Communication
                                            </span></label>
                                        <div data-v-e0192510="" class="mt-5"><button data-v-e0192510=""
                                                disabled="disabled" type="submit" class="btn btn-primary w-100"><!---->
                                                Create Account
                                            </button></div>
                                    </div>
                                </form>
                            </span>
                        </div>
                        <div data-v-48376463="" data-v-2ea73912="" style="display: none;">
                            <div data-v-4dd4a49c="" data-v-48376463="" style="height: 32.5px;"></div>
                            <div data-v-48376463="" class="header text-center mb-3">
                                <h2 class="text-blue text-xs-20 text-md-30 fw-700 font-weight-bold text-capitalize">
                                    Great, let’s verify you</h2>
                                <p class="fw-300 text-xs-14 fw-500 text-md-16 text-gray-500 mx-auto"
                                    style="max-width: 404px;">
                                    Check your mail for a 6-digit code sent to
                                </p>
                            </div>
                            <div data-v-4dd4a49c="" data-v-48376463="" style="height: 32.5px;"></div>
                            <div data-v-48376463="">
                                <div data-v-48376463="" style="display: flex;"
                                    class="mx-auto justify-content-center w-50"><!---->
                                    <div style="display: flex; align-items: center;"><input min="0" max="9"
                                            maxlength="1" pattern="[0-9]" type="tel" class="otp-input"><!----></div>
                                    <div style="display: flex; align-items: center;"><input min="0" max="9"
                                            maxlength="1" pattern="[0-9]" type="tel" class="otp-input"><!----></div>
                                    <div style="display: flex; align-items: center;"><input min="0" max="9"
                                            maxlength="1" pattern="[0-9]" type="tel" class="otp-input"><!----></div>
                                    <div style="display: flex; align-items: center;"><input min="0" max="9"
                                            maxlength="1" pattern="[0-9]" type="tel" class="otp-input"><!----></div>
                                    <div style="display: flex; align-items: center;"><input min="0" max="9"
                                            maxlength="1" pattern="[0-9]" type="tel" class="otp-input"><!----></div>
                                    <div style="display: flex; align-items: center;"><input min="0" max="9"
                                            maxlength="1" pattern="[0-9]" type="tel" class="otp-input"><!----></div>
                                </div>
                                <div data-v-48376463="" class="d-flex justify-content-center mx-auto mw-450 mt-3">
                                    <div data-v-48376463=""
                                        class="cursor-pointer text-gray-500 fw-500 text-xs-14 text-md-16">
                                        Didn’t receive any code?
                                        <span data-v-48376463="" class="text-green">
                                            Resend <!----></span>
                                    </div>
                                </div>
                                <div data-v-4dd4a49c="" data-v-48376463="" style="height: 32.5px;"></div>
                                <div data-v-48376463="" class="mt-5 mx-auto" style="max-width: 564px;"><button
                                        data-v-48376463="" disabled="disabled" type="button"
                                        class="btn btn-primary w-100"><!---->
                                        Verify Email
                                    </button></div>
                            </div>
                        </div>
                        <div data-v-328d397d="" data-v-2ea73912="" style="display: none;">
                            <div data-v-4dd4a49c="" data-v-328d397d="" style="height: 58.5px;"></div>
                            <div data-v-328d397d=""
                                class="d-flex flex-column align-items-center justify-content-md-center mx-auto"
                                style="max-width: 526px;"><img data-v-328d397d="" src="/images/individual/success.webp"
                                    alt="registration successful" class="img-fluid success-img">
                                <h2 data-v-328d397d="" class="text-xs-22 text-md-28 text-blue fw-700 mt-5">
                                    You are in! 🥳
                                </h2>
                                <h2 data-v-328d397d="" class="text-xs-14 text-md-16 text-gray-500 text-center">
                                    Your account has been created.
                                </h2>
                                <div data-v-4dd4a49c="" data-v-328d397d="" style="height: 58.5px;"></div>
                                <div data-v-328d397d="" class="w-100"><button data-v-328d397d=""
                                        class="btn btn-primary w-100">
                                        Explore MyCovergenius
                                    </button></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script>window.__NUXT__ = { config: { businessUrl: "https://business.mycovergenius.com", IntercomKey: "q17r14tg", _app: { basePath: "/", assetsPath: "/_nuxt/", cdnURL: null } } }</script>
    <script src="/_nuxt/9366248.js"></script>
    <script src="/_nuxt/7f9af0b.js"></script>
    <script src="/_nuxt/ce6672c.js"></script>
    <script src="/_nuxt/879eebc.js"></script>
    <div id="x93TdSy-G" role="status" aria-live="polite" aria-atomic="false"></div>

    <div id="omnisend-dynamic-container" style="overflow: hidden; height: 0px;">
        <div id="omnisend-pixel-container"></div>
        <div id="omnisend-jsonp-container">
            <script
                src="https://forms.soundestlink.com/REST/inShop/v1/getSettings?callback=_omnisend.setSettings&amp;responseType=jsonp&amp;shopHostname=mycovergenius.com&amp;shopType=api&amp;brandID=647f141bf1f70f68e9de1239"></script>
        </div>
    </div><iframe id="intercom-frame"
        style="position: absolute !important; opacity: 0 !important; width: 1px !important; height: 1px !important; top: 0 !important; left: 0 !important; border: none !important; display: block !important; z-index: -1 !important; pointer-events: none;"
        aria-hidden="true" tabindex="-1" title="Intercom"></iframe>
    <div class="intercom-lightweight-app">
        <style id="intercom-lightweight-app-style" type="text/css">
            @keyframes intercom-lightweight-app-launcher {
                from {
                    opacity: 0;
                    transform: scale(0.5);
                }

                to {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            @keyframes intercom-lightweight-app-gradient {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @keyframes intercom-lightweight-app-messenger {
                0% {
                    opacity: 0;
                    transform: scale(0);
                }

                40% {
                    opacity: 1;
                }

                100% {
                    transform: scale(1);
                }
            }

            .intercom-lightweight-app {
                position: fixed;
                z-index: 2147483001;
                width: 0;
                height: 0;
                font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
            }

            .intercom-lightweight-app-gradient {
                position: fixed;
                z-index: 2147483002;
                width: 500px;
                height: 500px;
                bottom: 0;
                right: 0;
                pointer-events: none;
                background: radial-gradient(ellipse at bottom right,
                        rgba(29, 39, 54, 0.16) 0%,
                        rgba(29, 39, 54, 0) 72%);
                animation: intercom-lightweight-app-gradient 200ms ease-out;
            }

            .intercom-lightweight-app-launcher {
                position: fixed;
                z-index: 2147483003;
                padding: 0 !important;
                margin: 0 !important;
                border: none;
                bottom: 20px;
                right: 20px;
                max-width: 48px;
                width: 48px;
                max-height: 48px;
                height: 48px;
                border-radius: 50%;
                background: #0aa89a;
                cursor: pointer;
                box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
                transition: transform 167ms cubic-bezier(0.33, 0.00, 0.00, 1.00);
                box-sizing: content-box;
            }


            .intercom-lightweight-app-launcher:hover {
                transition: transform 250ms cubic-bezier(0.33, 0.00, 0.00, 1.00);
                transform: scale(1.1)
            }

            .intercom-lightweight-app-launcher:active {
                transform: scale(0.85);
                transition: transform 134ms cubic-bezier(0.45, 0, 0.2, 1);
            }


            .intercom-lightweight-app-launcher:focus {
                outline: none;


            }

            .intercom-lightweight-app-launcher-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 48px;
                height: 48px;
                transition: transform 100ms linear, opacity 80ms linear;
            }

            .intercom-lightweight-app-launcher-icon-open {

                opacity: 1;
                transform: rotate(0deg) scale(1);

            }

            .intercom-lightweight-app-launcher-icon-open svg {
                width: 24px;
                height: 24px;
            }

            .intercom-lightweight-app-launcher-icon-open svg path {
                fill: rgb(255, 255, 255);
            }

            .intercom-lightweight-app-launcher-icon-self-serve {

                opacity: 1;
                transform: rotate(0deg) scale(1);

            }

            .intercom-lightweight-app-launcher-icon-self-serve svg {
                height: 44px;
            }

            .intercom-lightweight-app-launcher-icon-self-serve svg path {
                fill: rgb(255, 255, 255);
            }

            .intercom-lightweight-app-launcher-custom-icon-open {
                max-height: 24px;
                max-width: 24px;


                opacity: 1;
                transform: rotate(0deg) scale(1);

            }

            .intercom-lightweight-app-launcher-icon-minimize {

                opacity: 0;
                transform: rotate(-60deg) scale(0);

            }

            .intercom-lightweight-app-launcher-icon-minimize svg path {
                fill: rgb(255, 255, 255);
            }

            .intercom-lightweight-app-messenger {
                position: fixed;
                z-index: 2147483003;
                overflow: hidden;
                background-color: white;
                animation: intercom-lightweight-app-messenger 250ms cubic-bezier(0, 1, 1, 1);
                transform-origin: bottom right;


                width: 400px;
                height: calc(100% - 40px);
                max-height: 704px;
                min-height: 250px;
                right: 20px;
                bottom: 20px;
                box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);


                border-radius: 16px;
            }

            .intercom-lightweight-app-messenger-header {
                height: 64px;
                border-bottom: none;
                background: #0aa89a
            }

            .intercom-lightweight-app-messenger-footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 80px;
                background: #fff;
                font-size: 14px;
                line-height: 21px;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);

            }

            @media print {
                .intercom-lightweight-app {
                    display: none;
                }
            }
        </style>
    </div>
</body>

{% endblock %}